
h1{

    width: 450px;
    height: 50px;
    border: 4px solid rgb(48, 0, 145);
    color:rgb(48, 0, 145) ;
    font-size: 40px;

    padding: 15px ;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(67, 4, 4);
}
h3{
    font-size: 30px;

}