body{
    padding: 0;
    margin: 0;
    background-color: rgb(67, 4, 4);
}
h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 70px;
}
textarea{
    background-color: rgb(67, 4, 4);
    width: 750px;
    height: 325px;
    position: absolute;
    left: 275px;
    border-radius: 25px;
    resize: none;
    font-size: 20px;
}
button{

    position: absolute;
    top: 520px;
    left: 600px;
    font-size: 15px;
    width: 120px;
    height: 50px;
    background-color: rgb(67, 4, 4);
}
.b{
    position: absolute;
    top: 520px;
    left: 665px;
    border-radius: 10px;
}
.n{
    position: absolute;
    top: 520px;
    left: 535px;
    border-radius: 10px;
}
.m{
    border-radius: 10px;
    position: absolute;
    top: 520px;
    left: 1100px;
}
a{
    text-decoration: none;
    color: #000;
}